nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
nav h1{
    color: rgb(107, 0, 128);
}
.links a{
    text-decoration: none;
    color: gray;
   
}
.links{
    display: flex;
    gap: 20px;
}
.links a:hover{
    background-color:rgb(107, 0, 128) ;
    color: white;
    width: 100px;
    padding: 10px;
}
.part1 img  {  
   display: block;       
  margin: 0 auto;       
  max-width: 100%; 
}
.part1 h1  ,.part1 h4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.part1 h4{
    color: grey;
}
.part1 button{
   
 display: block;       
  margin: 0 auto;       
  max-width: 100%;
  background-color: rgb(107, 0, 128);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.icones {
   padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  
}